@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif; 
}

/* page component */
.page {
    height: 100vh;
    margin: 0;
    background-color: rgb(0, 19, 56);
    background-image: url(/img/background-image.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

/* hidden component */
.hidden {
    display: none;
}

/* weather component */
.weather {
    position: absolute;
    top: 23px;
    right: 30px;
}

/* clock component */
.clock {
    position: absolute;
    top: 23px;
    left: 30px;
    margin: 0;
}

/* login-form component */
.login-form {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

/* logout-form component */
.logout-form {
    position: relative;
    top: 55%;
    left: 83%;
    width: fit-content;
}

/* greeting component */
.greeting {
    position: relative;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    margin: 0px;
}

/* todo-form component */
.todo-form {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.todo-form__todo-input {
    width: 250px;
}

/* todo-list component */
.todo-list {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    width: 400px;
    max-height: 200px;
    padding: 10px;
    list-style-type: none;
}

.todo-list::-webkit-scrollbar {
    width: 10px;
}

.todo-list::-webkit-scrollbar-thumb {
    background-color: white;
}

.todo-list li {
    position: relative;
    margin: 10px;
    padding: 10px;
    width: 350px;
    border: 3px solid white;
}

.todo-list li span {
    display: inline-block;
    width: 310px;
    line-height: 24px;
    word-break: break-all;
}

.todo-list li button{
    position: absolute;
    top: 50%;
    height: 30px;
    transform: translateY(-15px);
    margin-left: 12px;
    padding-top: 3.3px;
    border: 3px solid white;
    border-radius: 100%;
    font-size: 16px;
    color: white;
    background-color: transparent;
}

.todo-list li button:hover {
    cursor: pointer;
}

/* quote component */
.quote {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    width: fit-content;
}

/* input-text component */
.input-text {
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
    border-radius: 3px;

    color: white;
    background-color: transparent;
}

.input-text::placeholder {
    color: white;
    font-size: 15px;
    text-align: center;
}

.input-text:focus {
    outline: none;
}

.input-text:focus::placeholder {
    color: transparent;
}

/* btn component */
.btn {
    display: border-box;
    height: 33px;
    border: 3px solid white;
    border-radius: 3px;

    color: white;
    background-color: transparent;
}

.btn:hover {
    cursor: pointer;
}